{% extends "base.html.twig" %}
{% block body %}
    <div class="bloc">
        <div class="command_block">
            <div class="user">damien@damien</div>
            <div class="directory">/var/www/ShellPortfolio $</div>
            <div class="command">git checkout master</div>
        </div>
        <div class="reponse">
            Déjà sur 'master'</br>
            Votre branche est à jour avec 'origin/master'.
        </div>
    </div>
    <div class="bloc">
        <div class="command_block">
            <div class="user">damien@damien</div>
            <div class="directory">/var/www/ShellPortfolio $</div>
            <div class="command">git checkout master</div>
        </div>
        <div class="reponse">
            Déjà sur 'master'</br>
            Votre branche est à jour avec 'origin/master'.
        </div>
    </div>
    <div class="bloc">
        <div class="command_block">
            <div class="user">damien@damien</div>
            <div class="directory">/var/www/ShellPortfolio $</div>
            <div class="command">
                <input type="text">
            </div>
        </div>
    </div>
{% endblock %}